.header-container, .social-links, .info-section {
    display: flex;
    flex-direction: row;
}

.social-links, .header-section {
    flex: 1;
}

.header-section {
    padding-top: 2em;
}

.social-links {
    justify-content: center;
    row-gap: 10px;
    align-items: center;
}

.social-links img, .docs-button, .discord-id, .wallet-address {
    padding: 0 1em;
}

.info-section {
    justify-content: end;
    align-items: center;
}

.docs-button {
    flex: 1 1 100%;
    max-width: 13%;
    padding: 1em 0;
    background: rgba(208,208,208, 0.5);
    color: #fff;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1em;
}

.discord-id, .wallet-address {
    flex: 1 1 100%;
    max-width: 20%;
    background: rgba(208,208,208, 0.5);
    color: #fff;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    padding: 1em 0;
    font-size: 1em;
}

.wallet-address {
    margin-right: 2em;
}

.docs-button:hover, .discord-id:hover, .wallet-address:hover {
    background: rgba(157, 157, 157, 0.5);
}

.mobile-header-container {
    flex-direction: column;
}

.mobile-header-container .info-section {
    justify-content: center;
}

.mobile-header-container .blank-square {
    display: none;
}